html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin:0;
  overflow: hidden;
  font-family: Helvetica;
}
#tree{
  width:100%;
  height:100%;
}
.mini-map {
  bottom: 45px !important;
}

.flex-container {
  /* background-color: rgba(0, 0, 0, .5) */
  background-color: #3A98B9;
}

.flex-container h1{
    color: white;
    opacity: 1;
}
